{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CAMPUS ASSET MANAGER{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>CAMPUS ASSET MANAGER !!!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'facilities' %}">Facilities</a></li>
            <li><a href="{% url 'reservations' %}">Reservations</a></li>
            <!-- Add other navigation links -->
        </ul>
    </nav>
    <main>
        {% if user.is_authenticated %}
            <p>Welcome, {{user.username}}! 
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            </p>
        {% else %}
            <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2020 CAMPUS ASSET MANAGER</p>
    </footer>
</body>
</html>