{% extends 'main/base.html' %}
{% load static %}

{% block title %}Reservations{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Document</title>
</head>
<body>
    
{% block content %}
<!-- Main content area -->
       <div class="content">
           <!-- Add any content you want to display over the background image -->
           <h2>Welcome to Reservations Manager</h2>
           <p>Manage your Reservations with ease.</p>
       </div>
<div class="content-wrapper">
   <!-- New section for background image -->
   <section class="background-section">

       <div class="image-container">
        <a href="http://127.0.0.1:8000/reservations/">
            <img src="{% static 'imgs/class2.png' %}" alt="Class 2">
        </a>
         
           <img src="{% static 'imgs/class1.png' %}" alt="Class 1">
           <img src="{% static 'imgs/sport.jpg' %}" alt="Class 1">
       </div>
   </section>   
</div>
{% endblock %}


</body>
</html>

