{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- Main content area -->
    <div class="content-wrapper">
        <!-- New section for background image -->
        <section class="background-section">
            <div class="content">
                <!-- Add any content you want to display over the background image -->
                <h2>Welcome to Home</h2>
                <p>Home</p>
            </div>
        </section>   
    </div>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
