
{% extends 'main/base.html' %}

{% block title %}Facilities{% endblock %}

{% block content %}
<!-- Main content area -->
<div class="content">
    <!-- Add any content you want to display over the background image -->
    <h2>Welcome to Reservations Manager</h2>
    <p>Manage your Reservations with ease.</p>
</div>

<!-- First white wrapper -->
<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 1</h3>
        <p>Description of Facility 1</p>
    </div>
</div>

<!-- Second white wrapper -->
<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 2</h3>
        <p>Description of Facility 2</p>
    </div>
</div>

<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 3</h3>
        <p>Description of Facility 3</p>
    </div>
</div>


<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 4</h3>
        <p>Description of Facility 4</p>
    </div>
</div>


<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 5</h3>
        <p>Description of Facility 5</p>
    </div>
</div>


<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 6</h3>
        <p>Description of Facility 6</p>
    </div>
</div>


<!-- Add more white wrappers as needed -->

{% endblock %}
