{%extends 'main/base.html'%}

{%block title%}Reservations{%endblock%}

{%block content%}
 <!-- Main content area -->
 <div class="content-wrapper">
    <!-- New section for background image -->
    <section class="background-section">
        <div class="content">
            <!-- Add any content you want to display over the background image -->
            <h2>Welcome to Reservations Manager</h2>
            <p>Manage your Reservations with ease.</p>
        </div>
    </section>   
</div>
{%endblock%}