{% extends 'main/base.html' %}

{% block title %}Facilities{% endblock %}

{% block content %}
<!-- Main content area -->
<div class="content">
    <!-- Add any content you want to display over the background image -->
    <h2>Welcome to Reservations Manager</h2>
    <p>Manage your Reservations with ease.</p>
</div>


<!-- First white wrapper -->
<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 1</h3>
        <p>number of reservation:</p>
    </div>
    <div class="button-container">
        <button class="edit-button">Edit Reservation</button>
    </div>
</div>


<!-- Second white wrapper -->
<div class="content-wrapper white-wrapper">
    <div class="white-content">
        <h3>Facility 2</h3>
        <p>number of reservation:</p>
    </div>
        <div class = "button-container">
            <button class="edit-button">Edit Reservation</button> <!-- Edit button -->  
        </div>

</div>

<!-- Add more white wrappers with edit buttons as needed -->

<!-- Add more white wrappers with edit buttons as needed -->

{% endblock %}
