{% extends "main/base.html" %}

{% block title %}Register{% endblock %}
{%load static%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formstyles.css' %}">
<div class="content-wrapper">
    <section class="background-section">
        <div class="content">
            <form method="POST" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}
