{% extends "main/base.html" %}

{% block title %}Create an Account {% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formstyles.css' %}">
<div class="content-wrapper">
   <section class="background-section">
      <div class="content">
 <form style="text-align: center;" method="POST" class="form-group">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn">Register</button>
      </form>
      </div>
   </section>
</div>
{% endblock %}
