{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formstyles.css' %}">
<div class="content-wrapper">
    <section class="background-section">
        <div class="content">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }} 
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}
