body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #363538;
    color: #F6F6F6;
    position: relative;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

header {
    color: #F6F6F6;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 100;
}

/* Navigation Styles */

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li form {
    display: inline;
}

nav ul li a {
    color: #8D8C8A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav ul li a:hover {
    color: #408697;
    font-weight: bold;
}

nav ul li a.active {
    color: #408697;
    font-weight: bold;
    text-decoration: underline;
}

/*
/* Style for centering the 'P' letter 
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Adjust the width as needed 
    height: 40px; /* Adjust the height as needed 
    background-color: #f0f0f0; /* Optional: Add background color 
    border-radius: 50%; /* Optional: Make it round 
}
*/
/* Style for the 'P' letter 
.centered {
    font-size: 24px; /* Adjust the font size as needed 
}
*/

/* Footer Styles */
footer {
    background-color: #52D6F4;
    color: #363538;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.background-section {
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.background-section .content h1 {
    font-size: 32px;
    font-weight: 100;
    margin: 10px;
    padding: 10px;
}

.background-section .content p {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

button {
    background-color: #363538;
    color: #8D8C8A;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
}
button:hover {
    text-decoration: underline;
    color: #408697;
}













/*
.content-wrapper {
    flex: 1;
    padding-top: 40px;
    padding-bottom: 60px;
}

/* Additional styles 
.image-container img:hover {
    transform: scale(1.1);
}

.white-wrapper {
    background-color: #fff;
    padding: 10px;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.white-content {
    text-align: left;
}

.small-text {
    font-size: 14px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3, p {
    color: black;
}

.white-content {
    text-align: center;
}

.button-container {
    margin-left: auto;
    padding-top: 25px;
}

.edit-button {
    background-color: #408697;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    transform: scale(1.1);
    color: #b1c2c9;
    background-color: #4d7889;
}

li {
    color: black;
}

form-group {
    color: #363538;
}
*/