{% extends "main/base.html" %}

{% block title %}Change Password{% endblock %}
{% load static %}
{% block content %}
<!-- aaaa -->
<link rel="stylesheet" type="text/css" href="{% static 'css/changepassword.css' %}">
<div class="content-wrapper">
    <section class="background-section">
        <div class="content">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <div>
                {{ form.old_password.label_tag}}
                {{ form.old_password }}
                </div>
                {% if form.old_password.errors %}
                        <div class="error">{{ form.old_password.errors }}</div>
                {% endif %}
                
                <div>
                {{ form.new_password.label_tag }}
                {{ form.new_password }}
                </div>
                {% if form.new_password.errors %}
                        <div class="error">{{ form.new_password.errors }}</div>
                {% endif %}
                
                <div>
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
                </div>
                {% if form.confirm_password.errors %}
                        <div class="error">{{ form.confirm_password.errors }}</div>
                {% endif %}
                -->
                <div class="help-text">
                    <ul>
                    <li>Password must be at least 8 characters long.</li>
                    <li>Password can't be entirely numeric.</li>
                </ul>
            </div> 
            <div class="buttons">
                <button type="submit" class="btn">Confirm</button>
                <button type="button" class="btnhelp" id="toggleHelp">?</button>
            </div>    
            </form>
        </div>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
     document.getElementById('toggleHelp').addEventListener('click', function() {
        // console.log('toggleHelp button clicked');
        var helpText = document.querySelector('.help-text');
        // console.log(helpText);
        if(!helpText.style.display || helpText.style.display === 'none' ) {
            helpText.style.display = 'block';
        } else {
            helpText.style.display = 'none';
        }
    });
});
</script>
{% endblock %}
