{% extends "main/base.html" %}

{% block title %}Change Password{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/changepassword.css' %}">
<div class="content-wrapper">
    <section class="background-section">
        <div class="content">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <div>
                {{ passform.old_password.label_tag}}
                {{ passform.old_password }}
                {{ passform.old_password.errors }}
                </div>
                <div>
                {{ passform.new_password1.label_tag }}
                {{ passform.new_password1 }}
                {{ passform.new_password1.errors }}
                </div>
                <div>
                {{ passform.new_password2.label_tag }}
                {{ passform.new_password2 }}
                {{ passform.new_password2.errors }}
                </div>
                <div class="help-text">
                    <ul>
                    <li>Password must be at least 8 characters long.</li>
                    <li>Password can't be entirely numeric.</li>
                    <li>Password can't be too similar to your other personal information.</li>
                    <li>Password can't be a commonly used password.</li>
                </ul>
            </div>
            <div class="buttons">
                <button type="submit" class="btn">Confirm</button>
                <button type="button" class="btnhelp" id="toggleHelp">?</button>
            </div>    
            </form>
        </div>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
     document.getElementById('toggleHelp').addEventListener('click', function() {
        // console.log('toggleHelp button clicked');
        var helpText = document.querySelector('.help-text');
        // console.log(helpText);
        if(!helpText.style.display || helpText.style.display === 'none' ) {
            helpText.style.display = 'block';
        } else {
            helpText.style.display = 'none';
        }
    });
});
</script>
{% endblock %}
