{% extends 'main/base.html' %}

{% block title %}Reservations{% endblock %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/facilitiesmain.css' %}">
</head>

<body>
   
    <!-- Main content area -->
    <div class="content">
        <!-- Add any content you want to display over the background image -->
        <h2>Welcome to Reservations Manager</h2>
        <p>Choose a Facility from here</p>
    </div>

    <div class="container">
        {% if facilities %}
     
            {% for facility in facilities %}
            
                <div class="class-item">
                <a href="{% url 'facility_anemity' facility.anemity  %}" class="class-button">
                    <img src="{{ facility.image.url }}" alt="{{ facility.name }}">
                    {{ facility.name }}
                </a>
            </div>
    
            {% endfor %}
        {% else %}
            <p>No facilities found.</p>
        {% endif %}
    </div>
    {% endblock %}    
        <!-- <div class="class-item">
            <a href="{% url 'classes' %}" class="class-button">
                <img src="{% static 'imgs/Class.png' %}" alt="Classroom">
                Classes
            </a>
        </div>
        <div class="class-item">
            <a href="{% url 'classes' %}" class="class-button">
                <img src="{% static 'imgs/Lab.png' %}" alt="Classroom">
                 Labs
            </a>
        </div>
        <div class="class-item">
            <a href="{% url 'classes' %}" class="class-button">
                <img src="{% static 'imgs/Sport.png' %}" alt="Classroom">
                Sport Facilities
            </a>
        </div>
        <div class="class-item">
            <a href="{% url 'classes' %}" class="class-button">
                <img src="{% static 'imgs/Private.jpg' %}" alt="Classroom">
                Private Study Rooms
            </a>
        </div> -->
    

    
</body>
</html>
