{% extends 'main/base.html' %}

{% block title %}Profile{% endblock %}
{% load static %}
{% block content %}
<script>
    window.onload = function () {
        document.getElementById('profile_pic').addEventListener('change', function (e) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.querySelector('.profile-pic img').src = e.target.result;
            }
            reader.readAsDataURL(this.files[0]);
        });
    };
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


<div class="content-wrapper">
    <section class="background-section">
        <div class="content">
            <h2>Profile Settings</h2>
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}


                <div class="profile-container">
                    
                    
                    <div class="profile-pic">
                        <label for="profile_pic" class="icon-label" style="display:inline">
                            <img src="{% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static 'imgs/defaultpic.png' %}{% endif %}" alt="Profile Picture">
                        </label>
                        {{user_form.profile_pic}}
                        {{user_form.profile_pic.errors}}
                        <input type="file" name="profile_pic" id="profile_pic" accept="image/*" style="display: none;">
                        <label for="profile_pic" class="btn">Choose Profile Picture</label>
                    </div>   
                </div>
                
                <div class="form-group">
                    {% if user.staff_id %}
                    <div>
                    {{ user_form.staff_id.label_tag }}
                    <input type="text" name="staff_id" value="{{ user_form.staff_id.value }}" maxlength="200" readonly required id="id_staff_id">
                    {{ user_form.staff_id.errors }}
                    </div>
                    {% elif user.student_id %}
                    <div>
                    {{ user_form.student_id.label_tag }}
                    <input type="text" name="student_id" value="{{ user_form.student_id.value }}" maxlength="200" {% if not user.staff_id %}readonly{% endif %} required id="id_student_id">
                    {{ user_form.student_id.errors }}
                    </div>
                    {% endif %}
                    <div>
                    {{ user_form.name.label_tag }}
                    {{ user_form.name }}
                    {{ user_form.name.errors }}
                    </div>
                    <div>
                    {{ user_form.email.label_tag }}
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                </div>
                <a href="{% url 'changepassword' %}" class="btn">Change Password</a>
                </div>
                    
                    
           
                <button type="submit" class="btn">Update</button>
            </form>
        </div>
    </section>
</div>


{% endblock %}