
{% extends 'main/base.html' %}

{% block title %}Reservations{% endblock %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
</head>

<body>
    
    <p class ="fun">You check your reservation form here</p>
    <div class="container">
        <div>
            <p style="text-align: center;">Your Reservation </p>
            {% for reservation in reservations %}
            <p><strong>Facility Code:</strong> {{ reservation.class_code }}</p>
            <p><strong>Date:</strong> {{ reservation.date }}</p>
            <p><strong>Time:</strong> {{ reservation.time }}</p><hr>
              {%endfor%}
        </div>
       
    </div>
    <div class = "container">
        <input type="text" placeholder="comment for a review....">
    </div>
    
    

    {% endblock %}
</body>
</html>


