<!-- reservations.html -->

{% extends 'main/base.html' %}
{% block title %}Reservations{% endblock %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
</head>

<body>
    
    <p class="fun">You can check your reservation form here</p>
    <div class="container">
        <div>
            <p style="text-align: center;">Your Reservations</p>
            {% for reservation in reservations %}
            <p><strong>Facility Code:</strong> {{ reservation.class_code }}</p>
            <p><strong>Date:</strong> {{ reservation.date }}</p>
            <p><strong>Time:</strong> {{ reservation.time }}</p>
            {% if not reservation.is_cancelled %}
            <form action="{% url 'cancel_reservation' reservation.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Cancel Reservation">
            </form>
            {% else %}
            <p><strong>Status:</strong> Cancelled</p>
            {% endif %}
            <hr>
            {% endfor %}
        </div>
       
    </div>

    
{% endblock %}
</body>
</html>
