form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}




form label{
    color: #F6F6F6;
    font-size: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    width: 200px;
    display: inline-block;
    margin-top: 10px;
}

form input{
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #363538;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

form button.btn{
    background-color:#408697;
    text-align: center;
    border-style: none;
    border-width: 0;
    text-transform: uppercase;
    color: #F6F6F6;
    font-size: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-left: 10px;
}

button.btn:hover{
    color: #363538;
    font-weight: bold;
    background-color: #52D6F4;
}

.help-text{
    color: #F6F6F6;
    font-size: 15px;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

form li {
    list-style-type: none;
    margin-top: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

.btnhelp{
    background-color:#408697;
    text-align: center;
    border-style: none;
    border-width: 0;
    border-radius: 5px;
    text-transform: uppercase;
    color: #F6F6F6;
    font-size: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-left: 10px;
}

button.btnhelp:hover{
    color: #363538;
    font-weight: bold;
    background-color: #52D6F4;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}