.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-item {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-id {
    font-weight: bold;
    min-width: 100px; 
    display: flex;
    align-self: flex-start;
}

.facility {
    flex: 1; 
    margin-right: 10px;
}

.stars {
    color: #ffffff;
}

.stars .fa-star {
    font-size: 16px;
}

.review-comment {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;

}

.fa-star.checked {
    color: #ffd700; 
}
