body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #363538;
    color: #F6F6F6;
    position: relative;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

a {
    text-decoration: none;
    color: #F6F6F6;
    text-transform: uppercase;
}

.selection   {
    color: #F6F6F6;
    display: grid;
}

.selection #icon {
    font-size: 50px;
    text-decoration: none;
}

.selection #icon:hover {
    font-size: 60px;
    color: #52D6F4;
    text-decoration: none;
}
